sap_soa_obroty/Connected Services/SOAPSAP/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_ZPK_CRM_RAPORTY">
    <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_ZPK_CRM_RAPORTY">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>4FA5E490A46ABAE0E1008002C0A8081E</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_REVE_AGGREGATION">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="cuky5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr15.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="15" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZPK_S_PERIOD">
        <xsd:sequence>
          <xsd:element name="YEAR" type="tns:numeric4" />
          <xsd:element name="MONTH" type="tns:numeric3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZPK_S_REVE_RESULT_AQ10">
        <xsd:sequence>
          <xsd:element name="VKORG" type="tns:char4" />
          <xsd:element name="VTWEG" type="tns:char2" />
          <xsd:element name="WERKS" type="tns:char4" />
          <xsd:element name="KUNNR" type="tns:char10" />
          <xsd:element name="ZZM_AQ2" type="tns:char20" />
          <xsd:element name="ZZM_AQ10" type="tns:char20" />
          <xsd:element name="ERLOS" type="tns:curr15.2" />
          <xsd:element name="ERLOS_INCL_DISCNT" type="tns:curr15.2" />
          <xsd:element name="WAERS" type="tns:cuky5" />
          <xsd:element name="VV001" type="tns:curr15.2" />
          <xsd:element name="VV002" type="tns:curr15.2" />
          <xsd:element name="VV003" type="tns:curr15.2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZPK_S_REVE_RESULT_AQ2">
        <xsd:sequence>
          <xsd:element name="VKORG" type="tns:char4" />
          <xsd:element name="VTWEG" type="tns:char2" />
          <xsd:element name="WERKS" type="tns:char4" />
          <xsd:element name="KUNNR" type="tns:char10" />
          <xsd:element name="ZZM_AQ2" type="tns:char20" />
          <xsd:element name="ERLOS" type="tns:curr15.2" />
          <xsd:element name="ERLOS_INCL_DISCNT" type="tns:curr15.2" />
          <xsd:element name="WAERS" type="tns:cuky5" />
          <xsd:element name="VV001" type="tns:curr15.2" />
          <xsd:element name="VV002" type="tns:curr15.2" />
          <xsd:element name="VV003" type="tns:curr15.2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZPK_S_REVE_RESULT_EXTWG">
        <xsd:sequence>
          <xsd:element name="VKORG" type="tns:char4" />
          <xsd:element name="VTWEG" type="tns:char2" />
          <xsd:element name="WERKS" type="tns:char4" />
          <xsd:element name="KUNNR" type="tns:char10" />
          <xsd:element name="EXTWG" type="tns:char18" />
          <xsd:element name="ERLOS" type="tns:curr15.2" />
          <xsd:element name="ERLOS_INCL_DISCNT" type="tns:curr15.2" />
          <xsd:element name="WAERS" type="tns:cuky5" />
          <xsd:element name="VV001" type="tns:curr15.2" />
          <xsd:element name="VV002" type="tns:curr15.2" />
          <xsd:element name="VV003" type="tns:curr15.2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZPK_S_REVE_KUNRG_RESULT_AQ10">
        <xsd:sequence>
          <xsd:element name="VKORG" type="tns:char4" />
          <xsd:element name="VTWEG" type="tns:char2" />
          <xsd:element name="WERKS" type="tns:char4" />
          <xsd:element name="KUNRG" type="tns:char10" />
          <xsd:element name="ZZM_AQ2" type="tns:char20" />
          <xsd:element name="ZZM_AQ10" type="tns:char20" />
          <xsd:element name="ERLOS" type="tns:curr15.2" />
          <xsd:element name="ERLOS_INCL_DISCNT" type="tns:curr15.2" />
          <xsd:element name="WAERS" type="tns:cuky5" />
          <xsd:element name="VV001" type="tns:curr15.2" />
          <xsd:element name="VV002" type="tns:curr15.2" />
          <xsd:element name="VV003" type="tns:curr15.2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZPK_S_REVE_KUNRG_RESULT_AQ2">
        <xsd:sequence>
          <xsd:element name="VKORG" type="tns:char4" />
          <xsd:element name="VTWEG" type="tns:char2" />
          <xsd:element name="WERKS" type="tns:char4" />
          <xsd:element name="KUNRG" type="tns:char10" />
          <xsd:element name="ZZM_AQ2" type="tns:char20" />
          <xsd:element name="ERLOS" type="tns:curr15.2" />
          <xsd:element name="ERLOS_INCL_DISCNT" type="tns:curr15.2" />
          <xsd:element name="WAERS" type="tns:cuky5" />
          <xsd:element name="VV001" type="tns:curr15.2" />
          <xsd:element name="VV002" type="tns:curr15.2" />
          <xsd:element name="VV003" type="tns:curr15.2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZPK_S_REVE_KUNRG_RESULT_EXTWG">
        <xsd:sequence>
          <xsd:element name="VKORG" type="tns:char4" />
          <xsd:element name="VTWEG" type="tns:char2" />
          <xsd:element name="WERKS" type="tns:char4" />
          <xsd:element name="KUNRG" type="tns:char10" />
          <xsd:element name="EXTWG" type="tns:char18" />
          <xsd:element name="ERLOS" type="tns:curr15.2" />
          <xsd:element name="ERLOS_INCL_DISCNT" type="tns:curr15.2" />
          <xsd:element name="WAERS" type="tns:cuky5" />
          <xsd:element name="VV001" type="tns:curr15.2" />
          <xsd:element name="VV002" type="tns:curr15.2" />
          <xsd:element name="VV003" type="tns:curr15.2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZPK_T_KNDNR">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZPK_T_REVE_RESULTS_AQ10">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZPK_S_REVE_RESULT_AQ10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZPK_T_REVE_RESULTS_AQ2">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZPK_S_REVE_RESULT_AQ2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZPK_T_REVE_RESULTS_EXTWG">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZPK_S_REVE_RESULT_EXTWG" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZPK_T_REVE_KUNRG_RESULTS_AQ10">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZPK_S_REVE_KUNRG_RESULT_AQ10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZPK_T_REVE_KUNRG_RESULTS_AQ2">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZPK_S_REVE_KUNRG_RESULT_AQ2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZPK_T_REVE_KUNRG_RESULTS_EXTWG">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZPK_S_REVE_KUNRG_RESULT_EXTWG" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="REVE_AGGREGATION">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="IT_KNDNR" type="tns:ZPK_T_KNDNR" />
            <xsd:element minOccurs="0" name="IV_KNDNR_FROM" type="tns:char10" />
            <xsd:element minOccurs="0" name="IV_KNDNR_TO" type="tns:char10" />
            <xsd:element minOccurs="0" name="IV_PERIOD_FROM" type="tns:ZPK_S_PERIOD" />
            <xsd:element minOccurs="0" name="IV_PERIOD_TO" type="tns:ZPK_S_PERIOD" />
            <xsd:element name="IV_VKORG" type="tns:char4" />
            <xsd:element name="IV_VTWEG" type="tns:char2" />
            <xsd:element minOccurs="0" name="IV_WERKS" type="tns:char4" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="REVE_AGGREGATIONResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ET_AQ10" type="tns:ZPK_T_REVE_RESULTS_AQ10" />
            <xsd:element name="ET_AQ2" type="tns:ZPK_T_REVE_RESULTS_AQ2" />
            <xsd:element name="ET_EXTWG" type="tns:ZPK_T_REVE_RESULTS_EXTWG" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="REVE_AGGREGATION_KUNRG">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="IT_KUNRG" type="tns:ZPK_T_KNDNR" />
            <xsd:element minOccurs="0" name="IT_KUNWE" type="tns:ZPK_T_KNDNR" />
            <xsd:element minOccurs="0" name="IV_KUNRG_FROM" type="tns:char10" />
            <xsd:element minOccurs="0" name="IV_KUNRG_TO" type="tns:char10" />
            <xsd:element minOccurs="0" name="IV_KUNWE_FROM" type="tns:char10" />
            <xsd:element minOccurs="0" name="IV_KUNWE_TO" type="tns:char10" />
            <xsd:element minOccurs="0" name="IV_PERIOD_FROM" type="tns:ZPK_S_PERIOD" />
            <xsd:element minOccurs="0" name="IV_PERIOD_TO" type="tns:ZPK_S_PERIOD" />
            <xsd:element name="IV_VKORG" type="tns:char4" />
            <xsd:element name="IV_VTWEG" type="tns:char2" />
            <xsd:element minOccurs="0" name="IV_WERKS" type="tns:char4" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="REVE_AGGREGATION_KUNRGResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ET_AQ10" type="tns:ZPK_T_REVE_RESULTS_AQ10" />
            <xsd:element name="ET_AQ2" type="tns:ZPK_T_REVE_RESULTS_AQ2" />
            <xsd:element name="ET_EXTWG" type="tns:ZPK_T_REVE_RESULTS_EXTWG" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="REVE_AGGREGATION_KUNWE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="IT_KUNRG" type="tns:ZPK_T_KNDNR" />
            <xsd:element minOccurs="0" name="IT_KUNWE" type="tns:ZPK_T_KNDNR" />
            <xsd:element minOccurs="0" name="IV_KUNRG_FROM" type="tns:char10" />
            <xsd:element minOccurs="0" name="IV_KUNRG_TO" type="tns:char10" />
            <xsd:element minOccurs="0" name="IV_KUNWE_FROM" type="tns:char10" />
            <xsd:element minOccurs="0" name="IV_KUNWE_TO" type="tns:char10" />
            <xsd:element minOccurs="0" name="IV_PERIOD_FROM" type="tns:ZPK_S_PERIOD" />
            <xsd:element minOccurs="0" name="IV_PERIOD_TO" type="tns:ZPK_S_PERIOD" />
            <xsd:element name="IV_VKORG" type="tns:char4" />
            <xsd:element name="IV_VTWEG" type="tns:char2" />
            <xsd:element minOccurs="0" name="IV_WERKS" type="tns:char4" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="REVE_AGGREGATION_KUNWEResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ET_AQ10" type="tns:ZPK_T_REVE_KUNRG_RESULTS_AQ10" />
            <xsd:element name="ET_AQ2" type="tns:ZPK_T_REVE_KUNRG_RESULTS_AQ2" />
            <xsd:element name="ET_EXTWG" type="tns:ZPK_T_REVE_KUNRG_RESULTS_EXTWG" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="REVE_AGGREGATION">
    <wsdl:part name="parameters" element="tns:REVE_AGGREGATION" />
  </wsdl:message>
  <wsdl:message name="REVE_AGGREGATIONResponse">
    <wsdl:part name="parameter" element="tns:REVE_AGGREGATIONResponse" />
  </wsdl:message>
  <wsdl:message name="REVE_AGGREGATION_KUNRG">
    <wsdl:part name="parameters" element="tns:REVE_AGGREGATION_KUNRG" />
  </wsdl:message>
  <wsdl:message name="REVE_AGGREGATION_KUNRGResponse">
    <wsdl:part name="parameter" element="tns:REVE_AGGREGATION_KUNRGResponse" />
  </wsdl:message>
  <wsdl:message name="REVE_AGGREGATION_KUNWE">
    <wsdl:part name="parameters" element="tns:REVE_AGGREGATION_KUNWE" />
  </wsdl:message>
  <wsdl:message name="REVE_AGGREGATION_KUNWEResponse">
    <wsdl:part name="parameter" element="tns:REVE_AGGREGATION_KUNWEResponse" />
  </wsdl:message>
  <wsdl:portType name="ZPK_CRM_RAPORTY">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_ZPK_CRM_RAPORTY" />
    </wsp:Policy>
    <wsdl:operation name="REVE_AGGREGATION">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_REVE_AGGREGATION" />
      </wsp:Policy>
      <wsdl:input message="tns:REVE_AGGREGATION" />
      <wsdl:output message="tns:REVE_AGGREGATIONResponse" />
    </wsdl:operation>
    <wsdl:operation name="REVE_AGGREGATION_KUNRG">
      <wsdl:input message="tns:REVE_AGGREGATION_KUNRG" />
      <wsdl:output message="tns:REVE_AGGREGATION_KUNRGResponse" />
    </wsdl:operation>
    <wsdl:operation name="REVE_AGGREGATION_KUNWE">
      <wsdl:input message="tns:REVE_AGGREGATION_KUNWE" />
      <wsdl:output message="tns:REVE_AGGREGATION_KUNWEResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZPK_CRM_RAPORTY" type="tns:ZPK_CRM_RAPORTY">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_ZPK_CRM_RAPORTY" />
    </wsp:Policy>
    <wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
      <wsa:ReferenceParameters />
    </wsa:EndpointReference>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="REVE_AGGREGATION">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="REVE_AGGREGATION_KUNRG">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="REVE_AGGREGATION_KUNWE">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZPK_CRM_RAPORTY">
    <wsdl:port name="ZPK_CRM_RAPORTY" binding="tns:ZPK_CRM_RAPORTY">
      <soap:address location="http://er1.aquael.pl:8000/sap/bc/srt/rfc/sap/zpk_crm_raporty/001/zpk_crm_raporty/zpk_crm_raporty" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>