sap_soa_obroty/Connected Services/ZPK_S_CRM_ZPARRAP2/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="IF_ZPK_S_CRM">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_ZPK_S_CRM_ZPARRAP2">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="cuky5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr15.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="15" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZDZIEN_SKLEP_PARAGONY">
        <xsd:sequence>
          <xsd:element name="BSTNK" type="tns:char20" />
          <xsd:element name="BRUTTO" type="tns:curr15.2" />
          <xsd:element name="VAT" type="tns:curr15.2" />
          <xsd:element name="NETTO" type="tns:curr15.2" />
          <xsd:element name="WAERK" type="tns:cuky5" />
          <xsd:element name="ZAKSIEGOWANE" type="tns:char1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZDZIEN_SKLEP">
        <xsd:sequence>
          <xsd:element name="K_G" type="tns:char1" />
          <xsd:element name="ZAKSIEGOWANE" type="tns:char1" />
          <xsd:element name="DATA" type="tns:date10" />
          <xsd:element name="NRKASY" type="tns:char2" />
          <xsd:element name="TAXM1" type="tns:char1" />
          <xsd:element name="VTEXT" type="tns:char20" />
          <xsd:element name="STAWKAVAT" type="tns:char20" />
          <xsd:element name="WAERK" type="tns:cuky5" />
          <xsd:element name="NETWR" type="tns:curr15.2" />
          <xsd:element name="MWSBP" type="tns:curr15.2" />
          <xsd:element name="W_BRUTTO" type="tns:curr15.2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WERKS">
        <xsd:sequence>
          <xsd:element name="WERKS" type="tns:char4" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_ZDZIEN_SKLEP_PARAGONY">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZDZIEN_SKLEP_PARAGONY" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_ZDZIEN_SKLEP">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZDZIEN_SKLEP" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZPK_S_CRM_ZPARRAP2">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DZIENDO" type="tns:date10" />
            <xsd:element name="DZIENOD" type="tns:date10" />
            <xsd:element minOccurs="0" name="NRKASY" type="tns:char2" />
            <xsd:element name="PARDZ" type="tns:TABLE_OF_ZDZIEN_SKLEP_PARAGONY" />
            <xsd:element name="RESPONSE" type="tns:TABLE_OF_ZDZIEN_SKLEP" />
            <xsd:element name="ZAKLAD" type="tns:WERKS" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZPK_S_CRM_ZPARRAP2Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ILPAR" type="xsd:int" />
            <xsd:element name="ILPOZ" type="xsd:int" />
            <xsd:element name="PARDZ" type="tns:TABLE_OF_ZDZIEN_SKLEP_PARAGONY" />
            <xsd:element name="RESPONSE" type="tns:TABLE_OF_ZDZIEN_SKLEP" />
            <xsd:element name="SRILPOZNAPAR" type="tns:curr15.2" />
            <xsd:element name="SRIL_NAPAR" type="tns:curr15.2" />
            <xsd:element name="SRWARTPAR" type="tns:curr15.2" />
            <xsd:element name="SRWARTPOZNAPAR" type="tns:curr15.2" />
            <xsd:element name="SRWARTSZT" type="tns:curr15.2" />
            <xsd:element name="SUMA_IL" type="tns:quantum13.3" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZPK_S_CRM_ZPARRAP2">
    <wsdl:part name="parameters" element="tns:ZPK_S_CRM_ZPARRAP2" />
  </wsdl:message>
  <wsdl:message name="ZPK_S_CRM_ZPARRAP2Response">
    <wsdl:part name="parameter" element="tns:ZPK_S_CRM_ZPARRAP2Response" />
  </wsdl:message>
  <wsdl:portType name="ZPK_S_CRM">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_ZPK_S_CRM" />
    </wsp:Policy>
    <wsdl:operation name="ZPK_S_CRM_ZPARRAP2">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_ZPK_S_CRM_ZPARRAP2" />
      </wsp:Policy>
      <wsdl:input message="tns:ZPK_S_CRM_ZPARRAP2" />
      <wsdl:output message="tns:ZPK_S_CRM_ZPARRAP2Response" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>